<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985090241978-rllkl7ob8fbd76mb7ogumhd43ficnbt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985090241978-rllkl7ob8fbd76mb7ogumhd43ficnbt3</string>
	<key>API_KEY</key>
	<string>AIzaSyDj_1BSva_-MD6q39lXDXC0Hj9LkxcGP0M</string>
	<key>GCM_SENDER_ID</key>
	<string>985090241978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.primero</string>
	<key>PROJECT_ID</key>
	<string>udec-77c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>udec-77c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985090241978:ios:0da210003761dd2dc95983</string>
</dict>
</plist>